<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.domain.member.member.repository.MemberRepository">

    <!--  전체 게시물 조회 -->
    <select id="findAll" resultType="com.mybatis.domain.member.member.dto.Member">
        SELECT * FROM member
    </select>

    <select id="findById" resultType="Member">
        SELECT * FROM member
        where id = #{id}
    </select>

    <select id="findByUsername" resultType="Member">
        SELECT * FROM member
        where username = #{username}
    </select>

    <insert id="create">
        INSERT INTO member
        SET username = #{username},
            password = #{password},
            name = #{name},
            email = #{email},
            createDate = now(),
            modifyDate = now()
    </insert>

    <select id="lastInsertId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <delete id="deleteById">
        DELETE FROM member
        where id = #{id}
    </delete>

    <update id="update">
        UPDATE member
        SET modifyDate = now(),
            username = #{username},
            password = #{password},
            name = #{name},
            email = #{email}
        WHERE id = #{id}
    </update>

</mapper>
